body{
	font-family: 'Lato', sans-serif;
	background-color: white;
	background-size: cover;
	background-attachment: fixed;
}

@font-face{
	font-family:'Lato';
	font-weight:300;
	src: url(fonts/Lato/Lato-Light.ttf);
}
@font-face{
	font-family:'Lato';
	font-weight:bold;
	src: url(fonts/Lato/Lato-Bold.ttf);
}

@font-face{
	font-family:'Raleway';
	src: url(fonts/Raleway/Raleway-Medium.ttf);
}

@font-face{
	font-family:'Raleway';
	font-weight: 800; 
	src: url(fonts/Raleway/Raleway-ExtraBold.ttf);
}

p{
	line-height: 1.8em;
 	font-size: 1em;
 	color: #000000;
 	font-weight: 300;
}

h1{
	font-family: 'Raleway', sans-serif;
	color: black;
	font-size:2.5em;
	letter-spacing: .5em;
	margin-top:2em;
}

h2{
	color:black;
	font-size:1.1em;
	color:black;
	font-weight:bold;	

}
/*MENU*/

.navbar {
    width:100%;
    position:fixed;
    top:0;
    left:0;
  	-webkit-transition: all .1s ease-in-out;
  	transition: all .1s ease-in-out;
}

/*BLACK LINE*/
.border{
	background: black;
	width: 70%;
	margin: 1em auto 1em auto;
	padding: .06em;
}
/*WHITE LINE*/
.border-white{
	background: white;
	width: 70%;
	/*margin: 0 auto;*/
	margin:1em auto 1em auto;
	padding: .06em;
}

/*HEADER*/

.header{
	padding:0 0 15em 0;
	width: 100%;
	text-align: center;
}

.header img{
	width: 100%;
	padding-top: 5em;
}

/*BINARY GRAPH*/
.header-background{
	/*background-image: linear-gradient(0deg, transparent 24%, rgba(209,211,211, 1) 25%, rgba(209,211,211, .05) 26%, transparent 27%, transparent 74%, rgba(209,211,211, .9) 75%, rgba(209,211,211, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(209,211,211, .9) 25%, rgba(209,211,211, .05) 26%, transparent 27%, transparent 74%, rgba(209,211,211, .9) 75%, rgba(209,211,211, .05) 76%, transparent 77%, transparent);*/
	/*background-size:50px 50px;*/
	/*margin-top: -54em;*/
}

.header-background p{
	margin-top: 16em;
	font-family: 'Consolas';
	text-align: left;
	font-size: 1em;
	font-weight: 300;
	transform: rotate(-90deg);
	transform-origin: left top 0;
	width: 100%;
}

.header-center{
	margin-top: 10em;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

/*ANNIE K TANG*/
.header-center h1{
	font-size: 2em;
	font-weight:800;
	color:#626566;
	letter-spacing: .5em;
}

/*CS/STATS*/
.header-center h2{
	font-size: 3em;
	font-weight: 300;
  	color: #626566;
  	letter-spacing: .2em;
  	margin: .5em auto .5em auto;
}

/*DUKE UNIVERSITY*/
.header-center h3{
	font-size: .8em;
	color:#626566;
	font-weight:500;
	border:.2em solid black;
	width: 50%;
	padding:1em;
	margin:auto;
	letter-spacing: .2em;
}

/*ABOUT*/
.ab{
	clear:both;
	text-align: center;
	padding:5em 0 10em 0;
	width:100%;
	margin: 0em auto 10em auto;
}

.ab img{
	width:15em;
	margin-bottom: 2em;
}

.ab>p{
	width: 50%;
	margin:auto;
}

.ab h1{
	letter-spacing: .15em;
	font-size: 1.5em;
	color:white;
	font-weight: 500;
	text-transform: uppercase;
}

.ab h2{
	letter-spacing: .15em;
	font-size: 1.2em;
	font-weight: 500;
	color:white;
}

.ab span{
	font-size:.8em;
	color:black;
}

.ab-bits{
	display: inline-block;
	width: 40%;
}

.ab-bits p{
	margin:auto;
}

/*EDUCATION*/

.ed{
	text-align: center;
	padding:8em 0 1em 0;
	margin: 15em auto 10em auto;
}

.ed>img{
	width:15em;
	margin-bottom: 1em;
	margin-top:2em;
}

.ed h2{
	font-size:1.3em;
}

.ed-left{
	/*width:25%;*/
	width:20em;
	display:inline-block;
	vertical-align: top;
	margin-bottom: 2em;
}

.ed-right{
	/*width:25%;*/
	width:20em;
	display:inline-block;
	vertical-align: top;
	margin-bottom: 2em;
}

.ed-school h3{
	font-size:1.3em;
	color: white;
	font-weight:700;
}

.ed-school a{
	text-decoration: none;
	color:black;
	letter-spacing: .06em;
	font-weight: bold;
}

.ed-school a:hover { 
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#hidden{
	display:none;
}

.ed-skills{
	/*width:30%;*/
	width:20em;
	display:inline-block;
	vertical-align: top;
	margin-bottom: 2em;
}

.ed-skills img{
	width:50%;
	margin-bottom: 1em;
}

.ed-skills h2{
	font-size:1.7em;
	font-weight: 500;
	letter-spacing: .3em;
}

.ed-skills span{
	color:white;
	font-weight: bold;
	font-size: 1.1em;
}

/*WORK*/

.wk{
	clear:both;
	text-align: center;
	padding:4em 0 1em 0;
	margin: 10em auto 10em auto;
}

.wk img{
	width:15em;
	margin: 2em auto 2em auto;
}

.wk-item{
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  	background-size: cover;
  	background-attachment: fixed;
  	padding:1.5em;
  	border-radius: .8em;
  	margin-top:2em;
  	margin-right: 1em;
  	margin-left: 1em;
}

.wk-item h3{
	font-size:1.1em;
	color: white;
	font-weight:bold;
}

.wk-left{
	display:inline-block;
	width:23em;
	vertical-align:top;
}

.wk-center{
	display:inline-block;
	width:23em;
	vertical-align:top;
}

.wk-right{
	display:inline-block;
	width:23em;
	vertical-align:top;
}


/*PROJECTS AND LEADERSHIP*/
.proj{
	clear:both;
	text-align: center;
	padding:4em 0 1em 0;
	margin: 10em auto 10em auto;
}

.proj img{
	width:15em;
	margin: 2em auto 2em auto;
}

.proj-item{
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  	background-size: cover;
  	background-attachment: fixed;
  	padding:1.5em;
  	/*border-radius: .8em;*/
  	border: solid white .1em; 
  	margin-top:1.2em;
  	margin-right: .6em;
  	margin-left: .6em;
}

.proj-item h3{
	font-size:1.1em;
	color: white;
	font-weight:700;
}

.proj-left{
	display:inline-block;
	width:45%;
	vertical-align:top;
}

.proj-right{
	display:inline-block;
	width:45%;
	vertical-align:top;
}

/*ORGANIZATIONS*/

.org{
	text-align: center;
	width:100%;
	padding:4em 0 1em 0;
	margin: 10em auto 10em auto;
}

.org img{
	position:relative;
	-webkit-filter: grayscale(1);
}

.org img:hover{
	-webkit-filter: grayscale(0);
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}

.org-1{
	display:inline-block;
	/*width:24%;*/
	width:18em;
	vertical-align: top;
}

.org-2{
	display:inline-block;
	/*width:23%;*/
	width:18em;
	vertical-align: top;
}

.org-3{
	display:inline-block;
	/*width:23%;*/
	width:18em;
	vertical-align: top;
}

.org-4{
	display:inline-block;
	/*width:23%;*/
	width:18em;
	vertical-align: top;
}

.org-item{
	border: .13em solid white;
	border-radius: .5em;
	padding:.8em;
	margin-bottom:.8em;
	margin-right:.4em;
	margin-left:.4em;
}

.org-item h2{
	font-size:1.3em;
	color:black;
	font-weight:bold;
}

.org-item img{
	max-width:100%;
	max-height:100%;
	border-radius: .5em;
}


/*CONTACT*/

.con{
	text-align: center;
	padding:4em 0 1em 0;
	margin: 10em auto 2em auto;
}

.con>p{
	font-size: 1.8em;
	color:white;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.con-info{
	width:60%;
	display:inline-block;
	margin-top: -2em;
	margin-bottom: 5em;
}

.con-info p{
	list-style-type:none;
	font-size:1.3em;
	color:black;
	letter-spacing: 2px;
}

.con-info a{
	text-decoration:none;
	color:black;
	display: inline-block;
	font-weight:300;
	font-size: .8em;
	padding: 1em;
	letter-spacing: .1em;
}
.con-info a:hover{
	color:white;
	text-decoration:none;
}
