@font-face{
	font-family:'Lato';
	font-weight:300;
	src: url({{ site.baseurl }}/fonts/Lato/Lato-Light.ttf);
}
@font-face{
	font-family:'Lato';
	font-weight:bold;
	src: url({{ site.baseurl }}/fonts/Lato/Lato-Bold.ttf);
}

@font-face{
	font-family:'Raleway';
	src: url({{ site.baseurl }}/fonts/Raleway/Raleway-Medium.ttf);
}

@font-face{
	font-family:'Raleway';
	font-weight: 800; 
	src: url({{ site.baseurl }}/fonts/Raleway/Raleway-ExtraBold.ttf);
}

body{
	font-family: 'Lato', sans-serif;
	background-color: white;
	background-size: cover;
	background-attachment: fixed;
}

p{
	line-height: 1.8em;
 	font-size: 1em;
 	color: #000000;
 	font-weight: 300;
}

h1{
	font-family: 'Raleway', sans-serif;
	color: black;
	font-size:2.5em;
	letter-spacing: .5em;
	margin-top:2em;
}

h2{
	color:black;
	font-size:1.1em;
	color:black;
	font-weight:bold;	

}
/*MENU*/

.navbar {
    width:100%;
    position:fixed;
    top:0;
    left:0;
  	-webkit-transition: all .1s ease-in-out;
  	transition: all .1s ease-in-out;
}

/*BLACK LINE*/
.border-black{
	background: black;
	width: 35%;
	margin: 1em auto 1em auto;
	padding: .06em;
}
/*WHITE LINE*/
.border-white{
	background: white;
	width: 70%;
	margin:1em auto 1em auto;
	padding: .06em;
}

/*HEADER*/

.header{
	margin-top: 10em;
	display: block;
	text-align: center;
	vertical-align: top;
}

/*ANNIE K TANG*/
.header h1{
	font-size: 2em;
	font-weight:800;
	letter-spacing: .5em;
	color:#626566;
}

/*CS/STATS*/
.header h2{
	font-size: 3em;
	font-weight: 300;
  	letter-spacing: .2em;
  	margin: .5em auto .5em auto;
  	color:#D1C0DD;
}

/*DUKE UNIVERSITY*/
.header h3{
	font-size: .8em;
	font-weight:500;
	border:.2em solid black;
	width: 15%;
	padding:1em;
	margin:auto;
	letter-spacing: .2em;
	color:#626566;
}

.footer p{
	padding-top: 2em;
	font-size:.7em;
	color: #D1C0DD;
	text-align: center;
	position:fixed;
	bottom:0;
	width: 100%;
}

.binarygraph {
	margin-top: -63em;
	font-family: 'Consolas';
	text-align: left;
	font-size: 1em;
	font-weight: 300;
	transform: rotate(-90deg);
	transform-origin: right bottom 1;
	width: 100%;
}

.binarygraph strong {
	color: #D1C0DD;
}

/*ABOUT*/
.about{
	text-align: center;
	vertical-align: bottom;
	padding-top:5em;
	width:100%;
}

.about h1{
	letter-spacing: .15em;
	font-size: 2em;
	color:#626566;
	font-weight: 500;
	text-transform: uppercase;
}

.about h2{
	letter-spacing: .1em;
	font-size: 1.1em;
	font-weight: 500;
	color:#626566;
	margin:auto;
	padding:.5em;
}

.about q {
	color:#D1C0DD
}

.about #left{
	padding-top:3em;
	width: 35%;
	display: inline-block;
}

.about #left img{
	width:15em;
	margin-bottom: 2em;
}

.about #right{
	width: 35%;
	display: inline-block;
}

.about #right p{
	width: 50%;
	margin:auto;
	padding:1em;
}

.about span{
	font-size:.8em;
	color:black;
}

/*EDUCATION*/

.ed{
	text-align: center;
	margin-top: 10em;
}

.ed img{
	width:10em;
	margin-bottom: 1em;
	margin-top:1em;
}

.ed h2{
	font-size:1.3em;
}

.ed h3{
	font-size:1.3em;
	color: #D1C0DD;
	font-weight:700;
}

.ed a{
	text-decoration: none;
	color:black;
	letter-spacing: .06em;
	line-height: 2em;
}

.ed a:hover { 
    color:#D1C0DD;
    text-decoration: none;
}

.ed p b {
	color: #D1C0DD
}

.ed-section{
	width:20em;
	display:inline-block;
	vertical-align: top;
	margin-bottom: 2em;
}

#hidden{
	display:none;
}

.ed-skills h2{
	font-size:1.7em;
	font-weight: 500;
	letter-spacing: .3em;
}


.wk{
	text-align: center;
	margin-top: 3em;
}

.wk-item{
	background-image: linear-gradient(to bottom, rgba(209,192,221, 0.4) 0%, rgba(209,192,221, 0.4) 100%);
  	background-size: cover;
  	background-attachment: fixed;
  	padding:1.5em;
  	border-radius: .8em;
  	margin-top:2em;
  	margin-right: 1em;
  	margin-left: 1em;
}

.wk h3{
	font-size:1.1em;
	color:white;
	font-weight:bold;
}

.wk-section{
	display:inline-block;
	width:23em;
	vertical-align:top;
}

.proj{
	text-align: center;
	margin-top: 4em;
}

.proj-item{
	background-image: linear-gradient(to bottom, rgba(209,192,221, 0.4) 0%, rgba(209,192,221, 0.4) 100%);
  	background-size: cover;
  	background-attachment: fixed;
  	padding:1.5em;
  	border-radius: .8em;
  	border: solid white .1em; 
  	margin-top:1.2em;
  	margin-right: .6em;
  	margin-left: .6em;
}

.proj-item h3{
	font-size:1.1em;
	color: white;
	font-weight:700;
}

.proj-section{
	display:inline-block;
	width:45%;
	vertical-align:top;
}

/*ORGANIZATIONS*/

.act{
	text-align: center;
	width:100%;
	margin-top: 3em;
}

.act img{
	position:relative;
	-webkit-filter: grayscale(0);
}

.act img:hover{
	-webkit-filter: grayscale(1);
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}

.act-section{
	display:inline-block;
	width:18em;
	vertical-align: top;
}

.act-item{
	border: .13em solid #ded2e7;;
	border-radius: .5em;
	padding:.8em;
	margin-bottom:.8em;
	margin-right:.4em;
	margin-left:.4em;
}

.act-item h2{
	font-size:1.3em;
	color:black;
	font-weight:bold;
}

.act-item img{
	max-width:100%;
	max-height:100%;
	border-radius: .5em;
}


/*CONTACT*/

.con{
	text-align: center;
	margin-top: 8em;
}

.con>p{
	font-size: 1.8em;
	color:#D1C0DD;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.con-info{
	width:60%;
	display:inline-block;
	margin-top: -2em;
	/*margin-bottom: 5em;*/
}

.con-info p{
	list-style-type:none;
	font-size:1.1em;
	color:black;
	letter-spacing: 2px;
}

.con a{
	text-decoration:none;
	color:black;
	display: inline-block;
	font-weight:300;
	font-size: .8em;
	padding: 1em;
	letter-spacing: .1em;
}
.con a:hover{
	color:#D1C0DD;
	text-decoration:none;
}
