html{
	/*background: url(images/watercolor.jpg);*/
	background-color: #cadae7;
	/*background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%), url(../images/watercolor.jpg);*/
	/*background-size: cover;
	background-attachment: fixed; */
}

body{
	font-family: 'Lato', sans-serif;
	background-color: #cadae7;

}

@font-face{
	font-family:'Lato';
	font-weight:300;
	src: url(fonts/Lato/Lato-Light.ttf);
}
@font-face{
	font-family:'Lato';
	font-weight:bold;
	src: url(fonts/Lato/Lato-Bold.ttf);
}
@font-face{
	font-family:'Lato';
	font-weight:400;
	src: url(fonts/Lato/Lato-Regular.ttf);
}
@font-face{
	font-family:'Raleway';
	src: url(fonts/Raleway/Raleway-Medium.ttf);
}

@font-face{
	font-family:'Raleway';
	font-weight: 800; 
	src: url(fonts/Raleway/Raleway-ExtraBold.ttf);
}

@font-face{
	font-family:'Reenie Beanie';
	src: url(fonts/Reenie_Beanie/ReenieBeanie.ttf);
}

p{
	font-family: 'Lato', sans-serif;
	line-height: 1.8em;
 	font-size: 1.1em;
 	color: #000000;
 	font-weight: 300;
}

h1{
	font-family: 'Raleway', sans-serif;
	color: black;
	font-size:2.5em;
	font-weight:500;
	letter-spacing: .5em;
	margin-top:2em;
}

/*MENU*/

.navbar {
    width:100%;
    position:fixed;
    top:0;
    left:0;
  	-webkit-transition: all .1s ease-in-out;
  	transition: all .1s ease-in-out;
}

/*.navbar-brand img{
	max-height: 175%;
	max-width: 175%;
	vertical-align: top;
	margin-top: -5px;
	margin-left: 5px;
}*/
/*HEADER*/

.header{
	padding:10em 0 30em 0;
	width: 100%;
	text-align: center;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url(images/home.jpeg) no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.header-left{
	display: inline-block;
	margin:1em;
}

.header-left img{
	max-width: 100%;
    height: auto;
    width: auto\9;
}

.header-right{
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin-top:2em;
}

/*ANNIE K TANG*/
.header-right h1{
	font-size: 2em;
	font-weight:800;
	color:#ffffff;
	letter-spacing: .5em;
}
/*BLACK LINE*/
.border{
	background: black;
	width: 70%;
	margin: 1em auto 1em auto;
	padding: .06em;
}
/*WHITE LINE*/
.border-white{
	background: white;
	width: 70%;
	/*margin: 0 auto;*/
	margin:1em auto 1em auto;
	padding: .06em;
}

/*CS/STATS*/
.header-right h2{
	/*font-size: 3.5vw;*/
	font-size: 3em;
	font-weight: 300;
  	color: #ffffff;
  	letter-spacing: .2em;
  	margin: .5em auto .5em auto;
}
/*DUKE UNIVERSITY*/
.header-right h3{
	/*font-size:1vw;*/
	font-size: .8em;
	color:#ffffff;
	font-weight:500;
	border:.2em solid black;
	width: 50%;
	padding:1em;
	margin:auto;
}

/*ABOUT*/

.ab{
	clear:both;
	text-align: center;
	padding:5em 0 10em 0;
	width:100%;
	margin: 0em auto 10em auto;
}

.ab img{
	width:15%;
	margin-bottom: 2em;
}

.ab>p{
	/*text-align: left;*/
	font-size: 1em;
	width: 50%;
	margin:auto;
}

.ab h2{
	font-family: 'Reenie Beanie', cursive;
	font-size: 2em;
	color:white;
}

.ab span{
	font-size:.8em;
	font-family: 'Lato', sans-serif;
	color:black;
	font-weight: 300;
}

.ab-bits{
	display: inline-block;
	width: 40%;
}

.ab-bits p{
	margin:auto;
}

.ab-pics img{
	width:8%;
	height: 10%;
	margin: .5em;
	border:white 3px solid;
	border-radius: 100%;
}
/*EDUCATION*/

.ed{
	text-align: center;
	padding:4em 0 1em 0;
	margin: 10em auto 10em auto;
}

.ed p{
	font-size: 1em;
}

.ed>img{
	width:20%;
	margin-bottom: 1em;
	margin-top:2em;
}

.ed-quote{
	margin:2em auto 2em auto;
	width:70%;
}
.ed-quote q{
	font-family: 'Reenie Beanie', cursive;
	font-size: 2em;
	color:white;
}

.ed-quote p{
	margin: auto;
	font-family: 'Reenie Beanie', cursive;
	font-size: 2em;
	color:white;
}

.ed-left{
	width:25%;
	display:inline-block;
	vertical-align: top;
}

.ed-right{
	width:25%;
	display:inline-block;
	vertical-align: top;
}

.ed-school h2{
	font-size:1.3em;
	color:black;
	font-weight:700;
}

.ed-school h3{
	font-size:1.3em;
	color: white;
	font-weight:700;
}

.ed-school h4{
	font-size:1em;
	color:black;
	font-weight:700;
}

.ed-school a{
	text-decoration: none;
	color:black;
	letter-spacing: .06em;
	font-weight: bold;
}

.ed-school a:hover { 
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#hidden{
	display:none;
}

.ed-skills{
	width:30%;
	display:inline-block;
	vertical-align: top;
}

.ed-skills img{
	width:50%;
	margin-bottom: 1em;
}

.ed-skills h2{
	font-size:1.7em;
	font-weight: 500;
	letter-spacing: .3em;
}

.ed-skills span{
	color:white;
	font-weight: bold;
	font-size: 1.1em;
}

/*WORK*/

.wk{
	clear:both;
	text-align: center;
	padding:4em 0 1em 0;
	margin: 10em auto 10em auto;
}

.wk img{
	width:20%;
	margin: 2em auto 2em auto;
}

.wk-item{
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  	background-size: cover;
  	background-attachment: fixed;
  	padding:1.5em;
  	/*border: .13em solid white;*/
  	border-radius: .8em;
  	margin-top:2em;
  	margin-right: 1em;
  	margin-left: 1em;
}

.wk-item h2{
	font-size:1.1em;
	color:black;
	font-weight:700;	
}

.wk-item h3{
	font-size:1.1em;
	color: white;
	font-weight:700;
}

.wk-item p{
	font-size:1em;
}

.wk-left{
	display:inline-block;
	/*width:30%;*/
	width:25em;
	vertical-align:top;
}

.wk-center{
	display:inline-block;
	/*width:30%;*/
	width:25em;
	vertical-align:top;
}

.wk-right{
	display:inline-block;
	/*width:30%;*/
	width:25em;
	vertical-align:top;
}


/*PROJECTS AND LEADERSHIP*/
.proj{
	clear:both;
	text-align: center;
	padding:4em 0 1em 0;
	margin: 10em auto 10em auto;
}

.proj img{
	width:20%;
	margin: 2em auto 2em auto;
}

.proj-item{
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  	background-size: cover;
  	background-attachment: fixed;
  	padding:1.5em;
  	/*border-radius: .8em;*/
  	border: solid white .1em; 
  	margin-top:1.2em;
  	margin-right: .6em;
  	margin-left: .6em;
}

.proj-item h2{
	font-size:1.1em;
	color:black;
	font-weight:700;	
}

.proj-item h3{
	font-size:1.1em;
	color: white;
	font-weight:700;
}

.proj-item p{
	font-size:1em;
}

.proj-left{
	display:inline-block;
	width:45%;
	vertical-align:top;
}

.proj-right{
	display:inline-block;
	width:45%;
	vertical-align:top;
}

/*ORGANIZATIONS*/

.org{
	text-align: center;
	width:100%;
	padding:4em 0 1em 0;
	margin: 10em auto 10em auto;
}

.org img{
	position:relative;
	-webkit-filter: grayscale(1);
}

.org img:hover{
	-webkit-filter: grayscale(0);
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}

.org-1{
	display:inline-block;
	width:24%;
	vertical-align: top;
}

.org-2{
	display:inline-block;
	width:23%;
	vertical-align: top;
}

.org-3{
	display:inline-block;
	width:23%;
	vertical-align: top;
}

.org-4{
	display:inline-block;
	width:23%;
	vertical-align: top;
}

.org-item{
	border: .13em solid white;
	border-radius: .5em;
	padding:.8em;
	margin-bottom:.8em;
	margin-right:.4em;
	margin-left:.4em;
}

.org-item h2{
	font-size:1.3em;
	color:black;
	font-weight:700;	
}

.org-item p{
	font-size:1em;
}

.org-item img{
	max-width:100%;
	max-height:100%;
	border-radius: .5em;
	/*opacity: 0.8;*/
}


/*CONTACT*/

.con{
	text-align: center;
	padding:4em 0 1em 0;
	margin: 10em auto 2em auto;
}

.con>p{
	font-family: 'Reenie Beanie', cursive;
	font-size: 2em;
	color:white;
}

.con-info{
	width:60%;
	display:inline-block;
	margin-top: -2em;
}

.con-info p{
	list-style-type:none;
	font-size:1.3em;
	color:black;
	font-weight:400;
	line-height:2em;
	letter-spacing: 2px;
}

.con-info a{
	text-decoration:none;
	color:black;
	display: inline-block;
	font-weight:300;
	font-size: .8em;
	padding: 1em;
	letter-spacing: .1em;
}
.con-info a:hover{
	color:white;
	text-decoration:none;
}

#go img{
	float:right;
	height:4em; 
	margin-top: 4em;
	margin-bottom: 1em;
}
